<div class="heading">
    <h3>
        Constant innovation
    </h3>
</div>
<p>
    MineStor is an innovator in all aspects of customer feedback and engagement. From our unique location-specific engagement tools, geo-tagging and beacon technologies. To our powerful content management, ticketing and fault resolution platform.
</p>
<p style="font-size: 25px">
    We continue to make customer feedback valuable and central to modern business.
</p>
<p>
    We are also committed to becoming a central feature of business success, delivering a resource that can be accessed anywhere at any time.
