<br>
<div class="heading">
    <h3>
        How we got here
    </h3>
</div>
<p>
    Very few companies make the feedback process easy for the customer, preferring instead to make it easy for themselves. As a result, consumers have turned to social media and review sites to vent their concerns and opinions. Organisations have tried to control this channel, often fielding feedback from a centralised office, rather than at the point where the issue occured and where something can be done.
</p>
<p style="font-size: 25px">
    Organisations have tried to manage negative feedback, not address the cause.
</p>
<p>
    In response to this growing trend, MineStor’s founder Julian Brett, realised that if feedback could be collected easily at the point of service delivery, it could also be sent to and addressed by on-site staff. This would enable them to respond direct to the customer, dealing with issues for the good of all involved.
</p>
<p>
    Julian realised that the growing use of smartphones and tablets would be the ideal way to make this work.
</p>
<p>
    Not only are these personal devices in constant proximity to both customers and staff, but they can also be used to locate and identify individuals, as well as capture feedback in new and engaging ways. They can respond to and receive messages, smoothing the lines of communication between you and your customers.
</p>
<p style="font-size: 20px">
    The result of this insight was Reactn.
</p>
<p>
    At its heart is the desire to provide organisations with a powerful and capable system and customers with a simple and engaging interface.
</p>
