<div class="heading">
    <h3>
        The Reactn team
    </h3>
</div>
<p>
    To retain this pace and continue to exceed client expectations, MineStor has built a team of committed professionals.
<br>
<br>
</p>
<!--=== Begin 6 Team Members Img Top  ===-->
<div class="row team-content-holder">
    <!--=== Begin Team Member 1 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-6 text-center">
            <!--=== Image ===-->
            <img src="/images/photos/JB.png" class="img-responsive team-member-img-top" alt="Julian Brett">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Julian Brett: CEO and Founder</h4>
            <!--=== About ===-->
            <div class="team-description limited-description-width">
                <p>Julian founded his first company at the age of 21 and has been providing research services ever since. Julian oversees the development and delivery of MineStor solutions, with emphasis on technology strategy, research and service maximization.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->

    <!--=== Begin Team Member 4 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-6 text-center">
            <!--=== Image ===-->
            <img src="/images/photos/MP.png" class="img-responsive team-member-img-top" alt="Michael Peacock">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Michael Peacock: CTO &amp; Lead Developer </h4>
            <!--=== About ===-->
            <div class="team-description limited-description-width">
                <p>Previously the CTO of a technology investment company, Michael’s talent for translating and balancing business and consumer requirements have led to a system which appeals to the challenges and objectives of both. He has extensive experience of managing technology teams and complex projects, as well as the business sense to take them to market.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
</div>
<div class="row team-content-holder">
    <!--=== Begin Team Member 5 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-6 text-center mt30-lg">
            <!--=== Image ===-->
            <img src="/images/photos/JW.png" class="img-responsive team-member-img-top" alt="Jack Wagstaffe">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Jack Wagstaffe: Developer</h4>
            <!--=== About ===-->
            <div class="team-description limited-description-width">
                <p>Jack was awarded his MCOMP from the University of Newcastle, and came to MineStor to work on software development. With experience in creating information touch screens for the University and having specialised in security, Jack has been able to applying his cutting-edge thinking to the developing of the Reactn ticketing system and dashboard tools.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
    <!--=== Begin Team Member 6 ===-->
    <div class="team-member-holder">
        <div class="col-sm-6 text-center mt30-lg">
            <i class="fa fa-users img-responsive team-member-img-top" style="font-size: 90px;padding: 15px;"></i>
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Advisors &amp; Partners</h4>
            <!--=== About ===-->
            <div class="team-description limited-description-width">
                <p>MineStor has a number of advisors and mentors. Most notable are Huw Davies, MineStor’s commercial advisor with a track record in technology start-ups, and Alan Robson, MineStor’s lead technology advisor and former IT Director of Pfizer. Reactn has also built a strong network of leading industry figures in the transport, retail and the hospitality sectors.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
</div><!-- /row -->
<!--=== End 6 Team Members Img Top ===-->
