<div class="heading mt30">
    <h4>
        Deliver insight direct to the people that can act on it
    </h4>
</div>
<p>
    Reactn also delivers this insight to staff positioned on site, and even on moving vehicles. Supervisors, and maintenance and engineering teams can receive alerts and service schedule information to help plan fixes and address issues. More to the point, it enables transport providers to prioritise investment and measure the impact that improvements have on customer satisfaction levels and opinions.
</p>
