<p style="font-size: 20px">
    The wealth of technologies available to passengers, mean that information systems, travel planning, delay compensation and social media, are the tools of the modern traveller. 
</p>
<p>
    Yet despite this, customer feedback systems still rely on forms, email and customer service lines, with very few positioned to address immediate customer experience issues or passenger frustrations. 
</p>
<div class="heading mt30">
    <h4>
        Target investment where it matters most
    </h4>
</div>
<p>
    Reactn delivers an agile and reactive environment for transport providers looking to engage customers and address changing requirements. From constant location-based sentiment, to specific carriage or bus stop fault reporting, Reactn empowers passengers to record, photograph and suggest improvements on every aspect of their journey. 
</p>
<p>
    Not only does this create a “crowd-sourced” approach to tackling litter, graffiti, maintenance issues and faults, is also brings passengers into the process of improving railways, bus services and airports. 
</p>
