---
layout: page
breadcrumbs: true
section_title: Focus Markets
title: Reactn in hospitality
---
<div class="image-banner hospitality" style="visibility: visible; ">
    <img src="/images/photos/hospitality2-blue.jpg" alt="People in a cafe">
</div>
<section class="content-40mg">
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="visibility: visible; ">
                <div class="heading">
                    <h1>{{ page.title }}</h1>
                </div>
            </div><!-- /column -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-12" style="visibility: visible; ">
                {% include content/focus_markets/reactn_in_hospitality.html %}
            </div><!-- /column -->
        </div><!-- /row -->
        <div class="row">
            <div class="col-sm-12" style="visibility: visible; ">
                {% include content/focus_markets/reactn_in_hospitality_full_width.html %}
            </div><!-- /column -->
        </div><!-- /row -->
    </div>
</section>
