<div class="heading mt30">
    <h3>
        How does it work?
    </h3>
</div>
<p>
Reactn is essentially a digital feedback system, collecting customer opinions and experiences at known locations, through mobile devices and laptops.
</p>
<p>
Reactn has a very simple interface, meaning customers can use it intuitively. But unlike comments cards or on-line survey tools, Reactn doesn't offer a limited set of questions that may not reflect the customer’s real concerns. Instead, Reactn uses smart questioning based on location to drill down to the root of an issue or concern, framing the situation for both the customer and the business.
</p>
<p>
Feedback, concerns, ratings and photos are then fed directly to the most relevant people in your organisation. The people best placed to resolve the issue. A response can then be given directly to the customer in real-time, informing them of progress and thanking them for their help in raising the issue.
</p>
<p>
Reactn is easy to manage and quick to deploy, offering organisations a simple interface and powerful dashboard that allows you to keep track of issues, assign tickets by priority and record actions.
</p>
