<div class="heading mt30">
    <h3>
        You're only as good as the feedback you receive
    </h3>
</div>
<p>
It is critical for businesses to encourage their customers to give feedback directly, and at the point where it matter most. But given that almost one in five of UK businesses don’t respond to email enquiries from customers, it is unsurprising that many people lack faith in traditional communication channels, or view feedback systems as a black-hole. It's therefore no surprise that many turn to social media to vent their frustrations.
</p>
<pstyle="font-size: 25px">
    Organisations have tried to manage negative feedback, not address the cause.
</p>
<p>
Your business needs tools that engage customers and enable you to respond to feedback quickly and positively. In turn, this helps boost customer retention and loyalty, while turning negative experiences into potentially positive outcomes.
</p>
