<h1>
    Realise the value of feedback
</h1>
<p style="font-size: 20px">
    Reactn uses a range of tools and technologies to collect customer insight at the point of service delivery. Structuring, prioritising and directing that feedback to the most relevant staff members to address. This ensures that all feedback is prioritised accordingly. Enabling employees to resolve issues, respond to individual customers and inform the business of their actions.
</p>
<p style="font-size: 20px">
  Reactn is quick to deploy, adapting to customer responses and locations, while communicating insights to teams via dashboards and assigned actions.  
